* {
    background-color: tan;
    color: black;
    font-size: 40px;
    text-align: center;
}


.viewhighscores {
    font-size: 40px;
    float: left;
    }

/* .timeleft {
    font-size: 40px;
    float: right;
    }
     */